.container{
    text-align: center;
}
.pizarra{
    margin: 2%;
    width: 1200px;
    height: 700px;
   border: 3px solid blanchedalmond;
   background: url('fondo.jpg') 0 0 repeat-x;
   animation: movebg 8s linear infinite;
  }   
@keyframes movebg {
  0% { background-position:1000px }
  100% { background-position:0 }
}




    .Acaminar{
        margin-top: 550px;
        left: 0px;
        width: 100px;
        height: 117px;
        background: url('corre.png') 0 0;
        animation: caminar 1s steps(6) infinite;
                   /*caminar 15s linear infinite;*/
        
        position: relative;
        }
        @keyframes caminar {
          0% { background-position: 0 }
          100% {background-position: -595px}
        }
        
      /*  @keyframes caminar {
          0% {left:0%;}
          50% {left:80%; transform: translateX(0)}
          100% {left:0%; transform: translate(-595);}
        }*/

        .saltar{
          margin-top: 550px;
          left: 0px;
          width: 100px;
          height: 117px;
          background: url('corre.png') 0 0;
          animation: caminar 1s steps(6) infinite;
                     /*caminar 15s linear infinite;*/
          
          position: relative;
          }
          @keyframes caminar {
            0% { background-position: 0 }
            100% {background-position: -595px}
          }
        .moneda{
            margin-top: 550px;
            left:300px;
            width: 99px;
            height: 112px;
            background: url('moneda.png') 0 0;
            animation: moverMoneda 1s steps(4) infinite;
                       /*caminar 15s linear infinite;*/
            
            position: relative;
            }

            @keyframes moverMoneda {
              0% { background-position: 0 }
              100% {background-position: -396px}
            }